name: Check code style with clang-format

on:
  pull_request:
    branches: [master]

permissions:
  contents: read

jobs:
  stylecheck:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: git fetch --depth=1 origin ${{ github.event.pull_request.base.sha }}
      - uses: yshui/git-clang-format-lint@0758f498e508097267c3f4d0827b2fefeb25cc9d # v1.18
        with:
          base: ${{ github.event.pull_request.base.sha }}
